body { margin: 0px; padding: 0px; font-family: Tahoma; }
.container { width: 743px; }
img { border: 0px; }
.footer { border-top: 1px solid #333333; margin-top: 18px; padding: 8px; }
.bigcheck { height: 25px; width: 25px; position: relative; top: 85px; left: 5px; }

.player { width: 80px; height: 100px; background-color: #000000; border: 1px dashed #333333; 
    position: relative; margin: 12px 0px 12px 12px; display: inline-block; }
.role { width: 100%; max-width: 780px; height: 20px; background-color: rgb(255,105,51); padding: 0px; position: absolute; bottom: 0px; }
.role span { padding-left: 5px; }
.player img { width: 80px; height: 80px; }

.subheader { width: 743px; height: 119px; border: 0px; padding: 0px; position: relative; }
.playerzone { position: relative; top: -077px; left: 539px; position: absolute; }


.colourblock { width: 131px; height: 131px; margin: 6px; padding: 0px; 
    display: inline-block; }

.red { background-image: url('graphics/colour-red.png'); }
.burgundy{ background-image: url('graphics/colour-burgundy.png'); }
.fuschia { background-image: url('graphics/colour-fuschia.png'); }
.orange { background-image: url('graphics/colour-orange.png'); }
.yellow { background-image: url('graphics/colour-yellow.png'); }
.lime { background-image: url('graphics/colour-lime.png'); }
.aquamarine { background-image: url('graphics/colour-aquamarine.png'); }
.teal { background-image: url('graphics/colour-teal.png'); }
.blue { background-image: url('graphics/colour-blue.png'); }
.purple { background-image: url('graphics/colour-purple.png'); }

.bigbutton {
 font-family: Verdana, Arial, Helvetica, sans-serif;  
 font-size: 24px;
 background-color: rgb(255,105,51); color: rgb(227,228,255);
 margin-right: 6px;
 border:3px ridged #f46539; padding: 5px;
}

/* Validation */
/* label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; 
    background-color: white; width: 100px; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; } */

.notice, label.error{
text-align: center;
color: #0c0c0c;
font-weight: bold;
background-color: #F4A18F;
width: 100% - 1px;
padding: 8px;
border-top: solid #ECD4CF 8px;
margin-top: 12px;
display: block;
}